<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <link rel="stylesheet" type="text/css" href="../css/layout.css">
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    <link rel="stylesheet" type="text/css" href="../css/botoes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Vue.JS Tutorial</title>
</head>
<body >

<div id="app">
    <div class="container">
        <div class="conteudo">
            <div class="row">
                <div class="offset-xs-3 col-xs-6">
                    <div class="col-xs-10"><input type="text" v-model="parametro" placeholder="Entre com o nome do pokémon" class="campo"></div>

                    <div class="col-xs-2"><button class="btn btn-preto" onclick="app.procurarPokemon()"><span class="fa fa-search"></span></button></div>
                </div>
            </div>
            <div class="row"  v-show="mostrar">
                <div class="col-lg-9 offset-lg-3" v-show="procurando"><h1>{{mensagem}}</h1></div>
                <div class="col-xs-3 offset-xs-3">
                    <ul>
                        <li>Id: <span>{{idPokemon}}</span></li>
                        <li>Nome: <span>{{nomePokemon}}</span></li>
                    </ul>
                    <div class="col-md-4" v-for="tipo in tipos">
                        <button class="tipo" :class="[tipo.type.name]">{{tipo.type.name}}</button>
                    </div>
                </div>
                <div class="col-xs-2">
                    <img v-bind:src="imgUrl">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@2.0.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>

<script>
    var app = new Vue({
        el: '#app',

        data:{
            parametro: '',
            idPokemon: '',
            nomePokemon: '',
            tipos: [],
            mostrar: false,
            procurando: false,
            imgUrl: '',
            mensagem: ''
        },

        methods:{
            procurarPokemon: function () {
                var app = this;

                app.mostrar = true;
                app.procurando = true;
                app.mensagem = "PROCURANDO POKEMON..."
                app.idPokemon = '';
                app.nomePokemon = '';

                axios.get('http://pokeapi.co/api/v2/pokemon/' + app.parametro).then(function (response) {
                    app.idPokemon = response.data.id;
                    app.nomePokemon = _.capitalize(response.data.name);
                    app.tipos = response.data.types;
                    app.imgUrl = response.data.sprites["front_default"];
                    app.procurando = false;

                })
                    .catch(function (error) {
                        app.mensagem = "POKÉMON NÃO ENCONTRADO";
                    })
            }
        },

        computed: {
            computedClass: function(tipos){
                for(var tipo in tipos){
                    if(tipo.type.name.toLowerCase() == "fire"){
                        this.classes.fire = true;
                    }
                }
            }
        }
    })
</script>

</body>
</html>